<footer>
  <p>Copyright 2015 Cyberdyne Systems, <a href="https://www.google.com/maps/place/El+Camino+Real,+Sunnyvale,+CA/@37.3648392,-122.028844,13z/data=!4m2!3m1!1s0x808fcb0b782c489d:0x380db039ff6cae75">18144 El Camino Real, Sunnyvale, CA</a>. All rights reserved.</p>
  <p>If you are not authorized to view this page, you will be TERMINATED.</p>
</footer>
