<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>E-corp Internal Wiki</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/styles.css">
  </head>
  <body>
    <div id="header">
      <span id="corp-name" class="header-span">E Corp Internal Wiki</span>
      <span class="header-span"><a href="#">USERNAME HERE</a></span>
      <span class="header-span"><a href="#">LOGIN/LOGOUT</a></span>
    </div>
    <div id="main-div">
      <nav>
        <ul>
          <li>Article 1</li>
          <li>Article 1</li>
          <li>Article 1</li>
          <li>Article 1</li>
        </ul>
      </nav>
      <%- body %>
    </div>
  </body>
</html>
