<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Cyberdyne Corporation Internal Wiki</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/styles.css">
  </head>
  <body>
    <div id="header">
      <span id="corp-name" class="header-span">Cyberdyne Systems Internal Wiki</span>
    </div>
    <nav>
      <ul id="link-ul" class="nav-ul">
        <li><a href="/">Home Page</a></li>
        <li><a href="/articles">All Articles</a></li>
        <li><a href="/articles/new">New Article</a></li>
        <li><a href="/users">All Users</a></li>
        <li><a href="/logout" id="logout">Logout</a></li>
      </ul>
      <ul id="nav-articles-ul" class="nav-ul">
      </ul>
    </nav>
    <div id="main-div">
      <%- body %>
    </div>
    <div id="footer-div">
      <% include footer %>
      <script>
      document.getElementById('corp-name').className += ' loaded';
      </script>
  </body>
</html>
