<div id="content-div">
  <form id="login-form" action="/" method="POST">
  <input type="text" name="user[name]" placeholder="Username">
  <input type="password" name="user[password]">
  <input type="submit">
  </form>
  <a href="/users/new">Register as New User</a>
</div>
