<div id="content-div">
  <h2>Welcome back, <%= user.name %>!</h2>
  <p>This is the internal corporate wiki of global behemoth E Corporation, creator of
  Skynet, the articifical intelligence defense network that will ensure safety and security
  for humanity for ever.</p>
  <p>For security purposes, access to this wiki is restricted to current E Corp employees
  ONLY. Unauthorized access will be terminated with extreme prejudice.</p>
  <p>For more information please review E Corp Employee Handbook, Section 47: "Security Procedures and
  Use of Force Guidelines".</p>
</div>
<script src="../public/scripts/welcome.js"></script>
