<div id="content-div">
  <h2>Welcome back, <a href="/users/<%= user._id %>/show"><%= user.name %></a>!</h2>
  <p>This is the internal corporate wiki of global behemoth Cyberdyne Systems, creator of
  Skynet, the articifical intelligence defense network that will ensure safety and security
  for humanity for ever and ever.</p>
  <p>For security purposes, access to this wiki is restricted to current Cyberdyne employees
  ONLY. Unauthorized access will be terminated with extreme prejudice.</p>
  <p>For more information please review Cyberdyne Employee Handbook, Sections 47 to 66: "Security Procedures and
  Use of Force Guidelines", especially Section 48 "Justification for Use of Lethal Force on Transgressing Employees".</p>
  <p><a href="#">Logout -- TODO</a></p>
</div>
