@import url(http://fonts.googleapis.com/css?family=Francois+One);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: lightgray;
  height: 100vh;
}

#header {
  width: 100%;
  height: 15vh;
  background: lightgray;
  display: inline-flex;
  justify-content: flex-end;
  background: -webkit-linear-gradient(left top, gray , lightgray);
  background: -o-linear-gradient(bottom right, gray, lightgray);
  background: -moz-linear-gradient(bottom right, gray, lightgray);
  background: linear-gradient(to bottom right, gray, darkgray);
}

.header-span {
  margin-right: 5%;
}

#corp-name {
  font-size: 3em;
  font-family: 'Francois One', sans-serif;
  font-weight: bold;
  font-style: italic;
  padding-left: 2%;
  transition: all 1s ease;
  color: lightgray;
}

#corp-name .loaded {
  font-size: 3em;
  font-family: 'Francois One', sans-serif;
  font-weight: bold;
  font-style: italic;
  padding-left: 2%;
  font-size: 5em;
  color: purple;
}

nav {
  border: 1px solid gray;
  width: 100%;
  height: 10vh;
  padding: 10px;
  background: -webkit-linear-gradient(left top, white , lightgray);
  background: -o-linear-gradient(bottom right, white, lightgray);
  background: -moz-linear-gradient(bottom right, white, lightgray);
  background: linear-gradient(to bottom right, white, darkgray);
}

nav ul, #users-list, #user-articles-created-li {
  list-style-type: none;
}

nav ul {
  width: 100%;
  display: inline-flex;
  justify-content:flex-end;
  align-items: baseline;
  text-align: center;
}

nav ul li {
  width: 10%;
  margin-top: 2%;
}

a {
  transition: all 0.5s ease;
  text-decoration: none;
}

a:hover {
  color: white;
  font-weight: bold;
  text-shadow: 1px 1px gray;
}

#main-div {
  padding: 2%;
  display: inline-flex;
  justify-content: flex-start;
}

#content-div {
  padding-left: 5%;
  width: 72vw;
}

.users-list-name {
  font-weight: bold;
}

dd {
  padding-left: 2em;
}

h2 {
  font-weight: normal;
  margin-bottom: 1em;
}

form {
  display: inline-flex;
  flex-direction: column;
}
p {
  margin-bottom: 0.5em;
  margin-left: 1em;
}

input {
  transition: all 0.4s ease;
}

input:focus {
  background: #e5fff3;
}

input[type="textarea"] {
  width: 60vw;
  height: 40vh;
}
