@import url(http://fonts.googleapis.com/css?family=Francois+One|Open+Sans);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /*background: lightgray;*/
  height: 100vh;
	background: -webkit-radial-gradient(center, circle, rgba(255,255,255,.35), rgba(255,255,255,0) 20%, rgba(255,255,255,0) 21%), -webkit-radial-gradient(center, circle, rgba(0,0,0,.2), rgba(0,0,0,0) 20%, rgba(0,0,0,0) 21%), -webkit-radial-gradient(center, circle farthest-corner, #f0f0f0, #c0c0c0);
	background: -moz-radial-gradient(center, circle, rgba(255,255,255,.35), rgba(255,255,255,0) 20%, rgba(255,255,255,0) 21%), -webkit-radial-gradient(center, circle, rgba(0,0,0,.2), rgba(0,0,0,0) 20%, rgba(0,0,0,0) 21%), -webkit-radial-gradient(center, circle farthest-corner, #f0f0f0, #c0c0c0);
	background: -ms-radial-gradient(center, circle, rgba(255,255,255,.35), rgba(255,255,255,0) 20%, rgba(255,255,255,0) 21%), -webkit-radial-gradient(center, circle, rgba(0,0,0,.2), rgba(0,0,0,0) 20%, rgba(0,0,0,0) 21%), -webkit-radial-gradient(center, circle farthest-corner, #f0f0f0, #c0c0c0);
	background: -o-radial-gradient(center, circle, rgba(255,255,255,.35), rgba(255,255,255,0) 20%, rgba(255,255,255,0) 21%), -webkit-radial-gradient(center, circle, rgba(0,0,0,.2), rgba(0,0,0,0) 20%, rgba(0,0,0,0) 21%), -webkit-radial-gradient(center, circle farthest-corner, #f0f0f0, #c0c0c0);
	background: radial-gradient(center, circle, rgba(255,255,255,.35), rgba(255,255,255,0) 20%, rgba(255,255,255,0) 21%), -webkit-radial-gradient(center, circle, rgba(0,0,0,.2), rgba(0,0,0,0) 20%, rgba(0,0,0,0) 21%), -webkit-radial-gradient(center, circle farthest-corner, #f0f0f0, #c0c0c0);
	background-size: 10px 10px, 10px 10px, 100% 100%;
	background-position: 1px 1px, 0px 0px, center center;
	top: 0;
}

#header {
  width: 100%;
  height: 15vh;
  background: lightgray;
  display: inline-flex;
  justify-content: flex-end;
  background: -webkit-linear-gradient(left top, gray , lightgray);
  background: -o-linear-gradient(bottom right, gray, lightgray);
  background: -moz-linear-gradient(bottom right, gray, lightgray);
  background: linear-gradient(to bottom right, gray, darkgray);
}

.header-span {
  margin-right: 5%;
}

#corp-name {
  font-size: 3em;
  font-family: 'Francois One', sans-serif;
  font-weight: bold;
  font-style: italic;
  padding-left: 2%;
  transition: all 1s ease;
  color: lightgray;
}

#corp-name:hover {
  color: red;
  cursor: crosshair;
}

nav {
  border: 1px solid gray;
  width: 100%;
  height: 10vh;
  padding: 10px;
  background: -webkit-linear-gradient(left top, white , lightgray);
  background: -o-linear-gradient(bottom right, white, lightgray);
  background: -moz-linear-gradient(bottom right, white, lightgray);
  background: linear-gradient(to bottom right, white, darkgray);
  font-family: 'Francois One', sans-serif;
}

nav ul, #users-list, #user-articles-created-li {
  list-style-type: none;
}

nav ul {
  width: 100%;
  display: inline-flex;
  justify-content:flex-end;
  align-items: baseline;
  text-align: center;
}

nav ul li {
  width: 10%;
  margin-top: 2%;
}

a {
  transition: all 0.5s ease;
  text-decoration: none;
}

a:visited {
  color: dimgray;
}

a:hover {
  color: white;
  font-weight: bold;
  tex-shadow: 0 1px gray;
}


#main-div {
  padding: 2%;
  display: inline-flex;
  justify-content: flex-start;
  font-family: 'Open sans', sans-serif;
}

#logout {
  align-self: flex-end;
}

#content-div {
  padding-left: 5%;
  width: 72vw;
}

.users-list-name {
  font-weight: bold;
}

dd {
  padding-left: 2em;
}

h2 {
  font-weight: normal;
  margin-bottom: 1em;
  color: dimgray;
}

form {
  display: inline-flex;
  flex-direction: column;
  width: 40%;
}

p {
  margin-bottom: 0.5em;
  margin-left: 1em;
}

input, select {
  transition: all 0.4s ease;
  margin-bottom: 1em;
}

input:hover, select:hover {
  background: lightgray;
}

input:focus, select:focus {
  background: #e5fff3;
}

input[type="textarea"] {
  width: 60vw;
  height: 40vh;
  vertical-align: top;
}

footer {
  padding-left: 2%;
  font-size: 0.75em;
  font-family: 'Open sans', sans-serif;
}

#term {
  transition: all 0.5s ease;
}

#term:hover {
  color: red;
  font-weight: bold;
}

.article-list-item, .users-list-item {
  position: relative;
  margin-left: 0.5em;
}

.login-div {
  display: inline-flex;
  flex-direction: column;
}

.hidden {
  display: none;
}

#redirect {
  font-size: 0.75em;
}
