@import url(http://fonts.googleapis.com/css?family=Francois+One);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: white;
}

#header {
  width: 100%;
  height: 15vh;
  background: lightgray;
  display: inline-flex;
  justify-content: flex-start;
  background: -webkit-linear-gradient(left top, gray , lightgray);
  background: -o-linear-gradient(bottom right, gray, lightgray);
  background: -moz-linear-gradient(bottom right, gray, lightgray);
  background: linear-gradient(to bottom right, gray, darkgray);
}

.header-span {
  color: darkgray;
}

.header-span + .header-span {
  padding-left: 20%;
  align-self: flex-end;
  padding-bottom: 2%;
  color: lightgray;
}

.header-span a {
  text-decoration: none;
  color: gray;
  transition: all 0.5s ease;
}

.header-span a:hover {
  color: white;
  text-shadow: 0 1px gray;
}

#corp-name {
  font-size: 3em;
  font-family: 'Francois One', sans-serif;
  font-weight: bold;
  font-style: italic;
  padding-left: 2%;
}

nav {
  border: 1px solid gray;
  width: 15vw;
  height: 100vh;
  padding: 10px;
  background: -webkit-linear-gradient(left top, white , lightgray);
  background: -o-linear-gradient(bottom right, white, lightgray);
  background: -moz-linear-gradient(bottom right, white, lightgray);
  background: linear-gradient(to bottom right, white , darkgray);
}

nav ul, #users-list, #user-articles-created-li {
  list-style-type: none;
}

nav ul {
  padding-left: 20%;
}

nav ul li {
  margin: 5% 0;
}

nav ul li a {
  transition: all 0.5s ease;
  text-decoration: none;
}

nav ul li a:hover {
  color: white;
  font-weight: bold;
  text-shadow: 1px 1px gray;
}

#main-div {
  padding: 2%;
  display: inline-flex;
  justify-content: flex-start;
}

#content-div {
  padding-left: 5%;
  width: 72vw;
}

.users-list-name {
  font-weight: bold;
}

dd {
  padding-left: 2em;
}
