<div id="content-div">
  <h2>Current Users</h2>
  <ul id="users-list">
  <% users.forEach(function(user, i) { %>
  <li><span class="users-list-item"><a href="/users/<%= user._id %>/show" class="users-list-name"><%= user.name %></a></span>, <span class="users-list-item"><%= user.title %>,</span> <span class="users-list-item">
  <%= user.department %></span></li>
  <% }); %>
</div>
